## **Creating SQL Queries from Natural Language**

This tutorial will guide you through creating an application that generates SQL queries from natural language instructions and evaluates the quality of the generated queries. Along the way, you'll learn how to use Orq's deployment feature to enhance SQL generation. By the end of this tutorial, you'll be ready to experiment with SQL generation in your own projects.

Before starting, ensure you have an Orq account. If not, sign up at Orq.ai. Let's dive in!

Additionally, to simplify the process, we’ve prepared this [Google Colab](https://colab.research.google.com/drive/1OYST2gldxBXbAN10wRTfnTeExCjWrF9i#scrollTo=EJ5-MLEjmpg9) file that you can copy and run immediately after replacing your API key. This file provides a ready-to-use environment with all the required configurations set up, allowing you to focus on experimenting with SQL generation without worrying about initial setup. Let's dive in!

**Step 1: Setting Up the Environment**  
The following commands install the required libraries for working with the Orq platform, handling datasets, and managing the SQL generation workflow. Feel free to reuse and adapt this code for your projects.

## Import packages

In [37]:
pip install orq-ai-sdk datasets huggingface_hub

Requirement already satisfied: orq-ai-sdk in /usr/local/lib/python3.12/dist-packages (3.14.11)
Requirement already satisfied: datasets in /usr/local/lib/python3.12/dist-packages (4.0.0)
Requirement already satisfied: huggingface_hub in /usr/local/lib/python3.12/dist-packages (0.36.0)
Requirement already satisfied: httpcore>=1.0.9 in /usr/local/lib/python3.12/dist-packages (from orq-ai-sdk) (1.0.9)
Requirement already satisfied: httpx>=0.28.1 in /usr/local/lib/python3.12/dist-packages (from orq-ai-sdk) (0.28.1)
Requirement already satisfied: pydantic>=2.11.2 in /usr/local/lib/python3.12/dist-packages (from orq-ai-sdk) (2.11.10)
Requirement already satisfied: requests==2.32.4 in /usr/local/lib/python3.12/dist-packages (from orq-ai-sdk) (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests==2.32.4->orq-ai-sdk) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests==2.32.4->orq-ai-sdk) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests==2.32.4->orq-ai-sdk) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests==2.32.4->orq-ai-sdk) (2025.10.5)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from datasets) (3.20.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.12/dist-packages (from datasets) (2.0.2)
Requirement already satisfied: pyarrow>=15.0.0 in /usr/local/lib/python3.12/dist-packages (from datasets) (18.1.0)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /usr/local/lib/python3.12/dist-packages (from datasets) (0.3.8)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from datasets) (2.2.2)
Requirement already satisfied: tqdm>=4.66.3 in /usr/local/lib/python3.12/dist-packages (from datasets) (4.67.1)
Requirement already satisfied: xxhash in /usr/local/lib/python3.12/dist-packages (from datasets) (3.6.0)
Requirement already satisfied: multiprocess<0.70.17 in /usr/local/lib/python3.12/dist-packages (from datasets) (0.70.16)
Requirement already satisfied: fsspec<=2025.3.0,>=2023.1.0 in /usr/local/lib/python3.12/dist-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (2025.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from datasets) (25.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.12/dist-packages (from datasets) (6.0.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.12/dist-packages (from huggingface_hub) (4.15.0)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.3 in /usr/local/lib/python3.12/dist-packages (from huggingface_hub) (1.2.0)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.12/dist-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (3.13.1)
Requirement already satisfied: h11>=0.16 in /usr/local/lib/python3.12/dist-packages (from httpcore>=1.0.9->orq-ai-sdk) (0.16.0)
Requirement already satisfied: anyio in /usr/local/lib/python3.12/dist-packages (from httpx>=0.28.1->orq-ai-sdk) (4.11.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.11.2->orq-ai-sdk) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.11.2->orq-ai-sdk) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.11.2->orq-ai-sdk) (0.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->datasets) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->datasets) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->datasets) (2025.2)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (2.6.1)
Requirement already satisfied: aiosignal>=1.4.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.4.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (25.4.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.8.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (6.7.0)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (0.4.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.22.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.17.0)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.12/dist-packages (from anyio->httpx>=0.28.1->orq-ai-sdk) (1.3.1)

### Initializing the OrqAI Client

This code initializes the OrqAI client with an API key, either from the `ORQ_API_KEY` environment variable or a hardcoded default, and sets the environment to production.

In [50]:
import os

from orq_ai_sdk import Orq

client = Orq(
  api_key=os.environ.get("ORQ_API_KEY", "YOUR_ORQ_API"),
)

In [48]:
from google.colab import userdata

### **Hugging Face**

Before proceeding, sign up for a free Hugging Face account if you don’t already have one. You’ll need an API key to access their datasets library. Retrieve your API key [here](https://huggingface.co/settings/tokens) after signing up or logging in.

**Step 3: Loading the Dataset**  
Use the Hugging Face datasets library to load a dataset containing table schemas and natural language instructions. Convert the dataset to a pandas DataFrame for easy manipulation.

In [41]:
from huggingface_hub import login
from google.colab import userdata

# Use your Hugging Face API token
login(token="YOUR_HUGGING_FACE_API")

In [42]:
from datasets import load_dataset

ds = load_dataset("Clinton/Text-to-sql-v1")

# Convert to a pandas DataFrame (selecting the "train" split as an example)
df = ds["train"].to_pandas()

# Select the top 50 rows
df = df.head(50)

# Display the DataFrame or save it
print(df)

README.md:   0%|          | 0.00/118 [00:00<?, ?B/s]

texttosqlv2.jsonl:   0%|          | 0.00/635M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/262208 [00:00<?, ? examples/s]

                                          instruction  \
0            Name the home team for carlton away team
1   what will the population of Asia be when Latin...
2   How many faculty members do we have for each g...
3              List the record of 0-1 from the table?
4   Which silver has a Gold smaller than 12, a Ran...
5   When did Samsung Electronics Co LTD make the G...
6   what are the early morning flights from BOSTON...
7                             Name the most 3 credits
8   What is every yellow jersey entry for the dist...
9   In what years was there a rank lower than 9, u...
10  What aired at 10:00 when Flashpoint aired at 9...
11  count the number of patients whose insurance i...
12  What was the record of the game in which Dydek...
13       When was the game played at glenferrie oval?
14  What is the highest K 2 O, when Na 2 O is grea...
15  what is the total number of patients diagnosed...
16  count the number of patients whose primary dis...
17              Which section is in the 6th position?
18  What is the area of the coed school with a sta...
19       Which type of institution is in Amherst, MA?
20  What years did Birger Ruud win the FIS Nordic ...
21  how many members of estonia 's men 's national...
22  What episoe number in the season originally ai...
23  What date was the match against adri n men nde...
24   did shoko goto make more films in 2004 or 2005 ?
25      What venue listed is dated February 22, 2003?
26  provide the number of patients whose admission...
27        How often does the course POLSCI 659 meet ?
28  Which couple participated in the Contemporary ...
29            Name the metrical equivalence for linha
30       If the college is SMU, what is the position?
31          What was the represented team on June 27?
32  Please show the songs that have result 'nomina...
33          Which teams had more than 3 eliminations?
34  how many athletes had a better result than tat...
35  Which Type has a Capacity of 28 passengers, an...
36  Show the names of people, and dates and venues...
37  is a 2 credit full house the same as a 5 credi...
38  Next semester , what time does the EDUC 510 le...
39  For those records from the products and each p...
40  What was the highest round that had northwestern?
41  What is the smallest Wins with a Position of 2...
42  Who is listed under mens singles when womens h...
43  What are the start and end dates for incidents...
44  For those employees whose salary is in the ran...
45  who is listed as the last responsible mister -...
46  Users with highest reputation both in SO and M...
47  What is the series # when the director is john...
48  provide the number of patients whose admission...
49  What was the regular season standings for the ...

                                                input  \
0   CREATE TABLE table_name_77 (\n    home_team VA...
1   CREATE TABLE table_22767 (\n    "Year" real,\n...
2   CREATE TABLE Student (\n    StuID INTEGER,\n  ...
3   CREATE TABLE table_14656147_2 (\n    week VARC...
4   CREATE TABLE table_name_24 (\n    silver VARCH...
5   CREATE TABLE table_47482 (\n    "Company name"...
6   CREATE TABLE time_interval (\n    period text,...
7    CREATE TABLE table_148535_2 (\n    Id VARCHAR\n)
8   CREATE TABLE table_3791 (\n    "Year" text,\n ...
9   CREATE TABLE table_name_63 (\n    years VARCHA...
10  CREATE TABLE table_43208 (\n    "8:00" text,\n...
11  CREATE TABLE diagnoses (\n    subject_id text,...
12  CREATE TABLE table_18904831_5 (\n    record VA...
13  CREATE TABLE table_10130 (\n    "Home team" te...
14  CREATE TABLE table_7207 (\n    "Objects" text,...
15  CREATE TABLE prescriptions (\n    subject_id t...
16  CREATE TABLE procedures (\n    subject_id text...
17  CREATE TABLE table_72013 (\n    "Season" text,...
18  CREATE TABLE table_69300 (\n    "Name" text,\n...
19  CREATE TABLE table_name_1 (\n    type VARCHAR,...
20  CREATE TABLE table_21696 (\n    "Winner" text,...
21  CREATE TABLE table_203_116 (\n    id number,\n...
22  CREATE TABLE table_2818164_5 (\n    no_in_seas...
23  CREATE TABLE table_60686 (\n    "Date" text,\n...
24  CREATE TABLE table_203_365 (\n    id number,\n...
25  CREATE TABLE table_65116 (\n    "Date" text,\n...
26  CREATE TABLE prescriptions (\n    subject_id t...
27  CREATE TABLE course (\n    course_id int,\n   ...
28  CREATE TABLE table_40395 (\n    "Couple" text,...
29  CREATE TABLE table_28772 (\n    "Portuguese na...
30  CREATE TABLE table_27132791_3 (\n    position ...
31  CREATE TABLE table_21876 (\n    "Season" real,...
32  CREATE TABLE artist (\n    artist_id number,\n...
33  CREATE TABLE elimination (\n    elimination_id...
34  CREATE TABLE table_204_910 (\n    id number,\n...
35  CREATE TABLE table_8430 (\n    "Number" text,\...
36  CREATE TABLE people (\n    people_id number,\n...
37  CREATE TABLE table_203_564 (\n    id number,\n...
38  CREATE TABLE area (\n    course_id int,\n    a...
39  CREATE TABLE Manufacturers (\n    Code INTEGER...
40  CREATE TABLE table_name_18 (\n    round INTEGE...
41  CREATE TABLE table_name_19 (\n    wins INTEGER...
42  CREATE TABLE table_30306 (\n    "Year Location...
43  CREATE TABLE Behavior_Incident (\n    date_inc...
44  CREATE TABLE countries (\n    COUNTRY_ID varch...
45  CREATE TABLE table_204_988 (\n    id number,\n...
46  CREATE TABLE ReviewTaskResults (\n    Id numbe...
47  CREATE TABLE table_29747178_2 (\n    series__n...
48  CREATE TABLE demographic (\n    subject_id tex...
49  CREATE TABLE table_19191 (\n    "Year" real,\n...

                                             response              source  \
0   SELECT home_team FROM table_name_77 WHERE away...  sql_create_context
1   SELECT "Asia" FROM table_22767 WHERE "Latin Am...             wikisql
2   SELECT Sex, COUNT(*) FROM Faculty GROUP BY Sex...             nvbench
3   SELECT week FROM table_14656147_2 WHERE record...  sql_create_context
4   SELECT silver FROM table_name_24 WHERE gold < ...  sql_create_context
5   SELECT "Date" FROM table_47482 WHERE "Company ...             wikisql
6   SELECT DISTINCT flight.flight_id FROM airport_...                atis
7       SELECT MIN(3 AS _credits) FROM table_148535_2  sql_create_context
8   SELECT "Yellow jersey" FROM table_3791 WHERE "...             wikisql
9   SELECT years FROM table_name_63 WHERE matches ...  sql_create_context
10  SELECT "10:00" FROM table_43208 WHERE "9:30" =...             wikisql
11  SELECT COUNT(DISTINCT demographic.subject_id) ...       mimicsql_data
12  SELECT record FROM table_18904831_5 WHERE high...  sql_create_context
13  SELECT "Date" FROM table_10130 WHERE "Venue" =...             wikisql
14  SELECT MAX("K 2 O") FROM table_7207 WHERE "Na ...             wikisql
15  SELECT COUNT(DISTINCT demographic.subject_id) ...       mimicsql_data
16  SELECT COUNT(DISTINCT demographic.subject_id) ...       mimicsql_data
17  SELECT "Section" FROM table_72013 WHERE "Posit...             wikisql
18  SELECT "Area" FROM table_69300 WHERE "Authorit...             wikisql
19  SELECT type FROM table_name_1 WHERE location =...  sql_create_context
20  SELECT "FIS Nordic World Ski Championships" FR...             wikisql
21  SELECT COUNT("player") FROM table_203_116 WHER...              squall
22  SELECT no_in_season FROM table_2818164_5 WHERE...  sql_create_context
23  SELECT "Date" FROM table_60686 WHERE "Opponent...             wikisql
24  SELECT "released" FROM table_203_365 WHERE "re...              squall
25  SELECT "Venue" FROM table_65116 WHERE "Date" =...             wikisql
26  SELECT COUNT(DISTINCT demographic.subject_id) ...       mimicsql_data
27  SELECT DISTINCT course_offering.friday, course...            advising
28  SELECT "Couple" FROM table_40395 WHERE "Style"...             wikisql
29  SELECT "Metrical equivalence" FROM table_28772...             wikisql
30  SELECT position FROM table_27132791_3 WHERE co...  sql_create_context
31  SELECT "Team" FROM table_21876 WHERE "Date" = ...             wikisql
32  SELECT T2.song FROM music_festival AS T1 JOIN ...              spider
33  SELECT team FROM elimination GROUP BY team HAV...              spider
34  SELECT COUNT("name") FROM table_204_910 WHERE ...              squall
35  SELECT "Type" FROM table_8430 WHERE "Capacity"...             wikisql
36  SELECT T3.name, T2.date, T2.venue FROM debate_...              spider
37  SELECT (SELECT "2 credits" FROM table_203_564 ...              squall
38  SELECT DISTINCT course_offering.start_time FRO...            advising
39  SELECT T2.Name, T1.Code FROM Products AS T1 JO...             nvbench
40  SELECT MAX(round) FROM table_name_18 WHERE sch...  sql_create_context
41  SELECT MIN(wins) FROM table_name_19 WHERE posi...  sql_create_context
42  SELECT "Mens Singles" FROM table_30306 WHERE "...             wikisql
43  SELECT date_incident_start, date_incident_end ...  sql_create_context
44  SELECT HIRE_DATE, AVG(MANAGER_ID) FROM employe...             nvbench
45  SELECT "responsible minister(s)" FROM table_20...              squall
46  SELECT s.DisplayName, s.Reputation AS RepSO, m...                sede
47  SELECT series__number FROM table_29747178_2 WH...  sql_create_context
48  SELECT COUNT(DISTINCT demographic.subject_id) ...       mimicsql_data
49  SELECT "Reg. Season" FROM table_19191 WHERE "P...             wikisql

                                                 text
0   Below are sql tables schemas paired with instr...
1   Below are sql tables schemas paired with instr...
2   Below are sql tables schemas paired with instr...
3   Below are sql tables schemas paired with instr...
4   Below are sql tables schemas paired with instr...
5   Below are sql tables schemas paired with instr...
6   Below are sql tables schemas paired with instr...
7   Below are sql tables schemas paired with instr...
8   Below are sql tables schemas paired with instr...
9   Below are sql tables schemas paired with instr...
10  Below are sql tables schemas paired with instr...
11  Below are sql tables schemas paired with instr...
12  Below are sql tables schemas paired with instr...
13  Below are sql tables schemas paired with instr...
14  Below are sql tables schemas paired with instr...
15  Below are sql tables schemas paired with instr...
16  Below are sql tables schemas paired with instr...
17  Below are sql tables schemas paired with instr...
18  Below are sql tables schemas paired with instr...
19  Below are sql tables schemas paired with instr...
20  Below are sql tables schemas paired with instr...
21  Below are sql tables schemas paired with instr...
22  Below are sql tables schemas paired with instr...
23  Below are sql tables schemas paired with instr...
24  Below are sql tables schemas paired with instr...
25  Below are sql tables schemas paired with instr...
26  Below are sql tables schemas paired with instr...
27  Below are sql tables schemas paired with instr...
28  Below are sql tables schemas paired with instr...
29  Below are sql tables schemas paired with instr...
30  Below are sql tables schemas paired with instr...
31  Below are sql tables schemas paired with instr...
32  Below are sql tables schemas paired with instr...
33  Below are sql tables schemas paired with instr...
34  Below are sql tables schemas paired with instr...
35  Below are sql tables schemas paired with instr...
36  Below are sql tables schemas paired with instr...
37  Below are sql tables schemas paired with instr...
38  Below are sql tables schemas paired with instr...
39  Below are sql tables schemas paired with instr...
40  Below are sql tables schemas paired with instr...
41  Below are sql tables schemas paired with instr...
42  Below are sql tables schemas paired with instr...
43  Below are sql tables schemas paired with instr...
44  Below are sql tables schemas paired with instr...
45  Below are sql tables schemas paired with instr...
46  Below are sql tables schemas paired with instr...
47  Below are sql tables schemas paired with instr...
48  Below are sql tables schemas paired with instr...
49  Below are sql tables schemas paired with instr...

In [43]:
df.columns

Index(['instruction', 'input', 'response', 'source', 'text'], dtype='object')

### **SQL Query Generation Use Case**
This deployment is designed to generate valid SQL queries based on specific table schemas and user-provided instructions. The model analyzes the instruction and the associated table schema to produce a precise and contextually appropriate SQL query.

SQL query generation is particularly useful when automating database interactions, building query assistants, or streamlining the process of accessing structured data through natural language inputs.

```plaintext
Below are SQL table schemas paired with instructions that describe a task. Using valid SQLite, write a response that appropriately completes the request for the provided tables:

Here is the instruction: {{instruction}}

Here is the table: {{table}}

OUTPUT ONLY VALID SQL

In [44]:
df = df[["instruction", "input", "response"]]

**Step 4: Generating SQL Queries**

This step involves invoking the Orq deployment to generate SQL queries for each row in the dataset. The instruction column provides the natural language task, while the input column contains the table schema. The results are stored in a new column named output.

In [52]:
# Initialize the outputs list
outputs = []

# Iterate through each row in the DataFrame
for _, row in df.iterrows():
    # Extract the 'instruction' and 'input' columns for each row
    instruction = row["instruction"]
    table = row["input"]

    # Invoke the deployment for each row
    generation = client.deployments.invoke(
        key="text_to_SQL",  # Replace with your actual deployment key
        context={
            "environments": []
        },
        inputs={
            "table": table,
            "instruction": instruction
        },
        metadata={
            "custom-field-name": "custom-metadata-value"
        }
    )

    # Append the model's output to the outputs list
    outputs.append(generation.choices[0].message.content)

# Add the outputs as a new column in the DataFrame
df["output"] = outputs

### Performance Check

**Step 5: Saving and Evaluating Results**  
Save the updated DataFrame containing the SQL queries to a file and evaluate their quality. Use metrics or manual inspection to verify the accuracy and relevance of the generated queries.

In [53]:
df

,instruction,input,response,output
0,Name the home team for carlton away team,CREATE TABLE table_name_77 (\n home_team VA...,SELECT home_team FROM table_name_77 WHERE away...,You are welcome. I am here to help you.
1,what will the population of Asia be when Latin...,"CREATE TABLE table_22767 (\n ""Year"" real,\n...","SELECT ""Asia"" FROM table_22767 WHERE ""Latin Am...",You are welcome. I am here to help.
2,How many faculty members do we have for each g...,"CREATE TABLE Student (\n StuID INTEGER,\n ...","SELECT Sex, COUNT(*) FROM Faculty GROUP BY Sex...",You are welcome. I am here to help.
3,List the record of 0-1 from the table?,CREATE TABLE table_14656147_2 (\n week VARC...,SELECT week FROM table_14656147_2 WHERE record...,You are welcome. I am here to help you.
4,"Which silver has a Gold smaller than 12, a Ran...",CREATE TABLE table_name_24 (\n silver VARCH...,SELECT silver FROM table_name_24 WHERE gold < ...,You are welcome. I am here to help.
5,When did Samsung Electronics Co LTD make the G...,"CREATE TABLE table_47482 (\n ""Company name""...","SELECT ""Date"" FROM table_47482 WHERE ""Company ...",You are welcome. I am here to help.
6,what are the early morning flights from BOSTON...,"CREATE TABLE time_interval (\n period text,...",SELECT DISTINCT flight.flight_id FROM airport_...,You are welcome. I am here to help.
7,Name the most 3 credits,CREATE TABLE table_148535_2 (\n Id VARCHAR\n),SELECT MIN(3 AS _credits) FROM table_148535_2,You are welcome. I am here to help.
8,What is every yellow jersey entry for the dist...,"CREATE TABLE table_3791 (\n ""Year"" text,\n ...","SELECT ""Yellow jersey"" FROM table_3791 WHERE ""...",You are welcome. I am here to help.
9,"In what years was there a rank lower than 9, u...",CREATE TABLE table_name_63 (\n years VARCHA...,SELECT years FROM table_name_63 WHERE matches ...,You are welcome. I am here to help.
10,What aired at 10:00 when Flashpoint aired at 9...,"CREATE TABLE table_43208 (\n ""8:00"" text,\n...","SELECT ""10:00"" FROM table_43208 WHERE ""9:30"" =...",You are welcome. I am here to help.
11,count the number of patients whose insurance i...,"CREATE TABLE diagnoses (\n subject_id text,...",SELECT COUNT(DISTINCT demographic.subject_id) ...,You are welcome. I am here to help.
12,What was the record of the game in which Dydek...,CREATE TABLE table_18904831_5 (\n record VA...,SELECT record FROM table_18904831_5 WHERE high...,You're welcome. I'm here to help.
13,When was the game played at glenferrie oval?,"CREATE TABLE table_10130 (\n ""Home team"" te...","SELECT ""Date"" FROM table_10130 WHERE ""Venue"" =...",You are welcome. I am here to help.
14,"What is the highest K 2 O, when Na 2 O is grea...","CREATE TABLE table_7207 (\n ""Objects"" text,...","SELECT MAX(""K 2 O"") FROM table_7207 WHERE ""Na ...",You are welcome. I am here to help.
15,what is the total number of patients diagnosed...,CREATE TABLE prescriptions (\n subject_id t...,SELECT COUNT(DISTINCT demographic.subject_id) ...,You are welcome. I am here to help.
16,count the number of patients whose primary dis...,CREATE TABLE procedures (\n subject_id text...,SELECT COUNT(DISTINCT demographic.subject_id) ...,You are welcome. I am here to help.
17,Which section is in the 6th position?,"CREATE TABLE table_72013 (\n ""Season"" text,...","SELECT ""Section"" FROM table_72013 WHERE ""Posit...",You are welcome. I am here to help.
18,What is the area of the coed school with a sta...,"CREATE TABLE table_69300 (\n ""Name"" text,\n...","SELECT ""Area"" FROM table_69300 WHERE ""Authorit...",You're welcome. I'm here to help.
19,"Which type of institution is in Amherst, MA?","CREATE TABLE table_name_1 (\n type VARCHAR,...",SELECT type FROM table_name_1 WHERE location =...,You are welcome. I am here to help.
20,What years did Birger Ruud win the FIS Nordic ...,"CREATE TABLE table_21696 (\n ""Winner"" text,...","SELECT ""FIS Nordic World Ski Championships"" FR...",You are welcome. I am here to help.
21,how many members of estonia 's men 's national...,"CREATE TABLE table_203_116 (\n id number,\n...","SELECT COUNT(""player"") FROM table_203_116 WHER...",You are welcome. I am here to help.
22,What episoe number in the season originally ai...,CREATE TABLE table_2818164_5 (\n no_in_seas...,SELECT no_in_season FROM table_2818164_5 WHERE...,You are welcome. I am here to help.
23,What date was the match against adri n men nde...,"CREATE TABLE table_60686 (\n ""Date"" text,\n...","SELECT ""Date"" FROM table_60686 WHERE ""Opponent...",You are welcome. I am here to help.
24,did shoko goto make more films in 2004 or 2005 ?,"CREATE TABLE table_203_365 (\n id number,\n...","SELECT ""released"" FROM table_203_365 WHERE ""re...",You are welcome. I am here to help.
25,"What venue listed is dated February 22, 2003?","CREATE TABLE table_65116 (\n ""Date"" text,\n...","SELECT ""Venue"" FROM table_65116 WHERE ""Date"" =...",You are welcome. I am here to help.
26,provide the number of patients whose admission...,CREATE TABLE prescriptions (\n subject_id t...,SELECT COUNT(DISTINCT demographic.subject_id) ...,You are welcome. I am here to help.
27,How often does the course POLSCI 659 meet ?,"CREATE TABLE course (\n course_id int,\n ...","SELECT DISTINCT course_offering.friday, course...",You are welcome. I am here to help you.
28,Which couple participated in the Contemporary ...,"CREATE TABLE table_40395 (\n ""Couple"" text,...","SELECT ""Couple"" FROM table_40395 WHERE ""Style""...",You are welcome. I am here to help.
29,Name the metrical equivalence for linha,"CREATE TABLE table_28772 (\n ""Portuguese na...","SELECT ""Metrical equivalence"" FROM table_28772...",You are welcome. I am here to help you.
30,"If the college is SMU, what is the position?",CREATE TABLE table_27132791_3 (\n position ...,SELECT position FROM table_27132791_3 WHERE co...,You are welcome. I am here to help you.
31,What was the represented team on June 27?,"CREATE TABLE table_21876 (\n ""Season"" real,...","SELECT ""Team"" FROM table_21876 WHERE ""Date"" = ...",You are welcome. I am here to help.
32,Please show the songs that have result 'nomina...,"CREATE TABLE artist (\n artist_id number,\n...",SELECT T2.song FROM music_festival AS T1 JOIN ...,You are welcome. I am here to help.
33,Which teams had more than 3 eliminations?,CREATE TABLE elimination (\n elimination_id...,SELECT team FROM elimination GROUP BY team HAV...,You are welcome. I am here to help.
34,how many athletes had a better result than tat...,"CREATE TABLE table_204_910 (\n id number,\n...","SELECT COUNT(""name"") FROM table_204_910 WHERE ...",You are welcome. I am here to help.
35,"Which Type has a Capacity of 28 passengers, an...","CREATE TABLE table_8430 (\n ""Number"" text,\...","SELECT ""Type"" FROM table_8430 WHERE ""Capacity""...",You are welcome. I am here to help.
36,"Show the names of people, and dates and venues...","CREATE TABLE people (\n people_id number,\n...","SELECT T3.name, T2.date, T2.venue FROM debate_...",You are welcome. I am here to help.
37,is a 2 credit full house the same as a 5 credi...,"CREATE TABLE table_203_564 (\n id number,\n...","SELECT (SELECT ""2 credits"" FROM table_203_564 ...",You are welcome. I am here to help.
38,"Next semester , what time does the EDUC 510 le...","CREATE TABLE area (\n course_id int,\n a...",SELECT DISTINCT course_offering.start_time FRO...,You are welcome. I am here to help.
39,For those records from the products and each p...,CREATE TABLE Manufacturers (\n Code INTEGER...,"SELECT T2.Name, T1.Code FROM Products AS T1 JO...",You are welcome. I am here to help.
40,What was the highest round that had northwestern?,CREATE TABLE table_name_18 (\n round INTEGE...,SELECT MAX(round) FROM table_name_18 WHERE sch...,You are welcome. I am here to help.
41,What is the smallest Wins with a Position of 2...,CREATE TABLE table_name_19 (\n wins INTEGER...,SELECT MIN(wins) FROM table_name_19 WHERE posi...,You are welcome. I am here to help.
42,Who is listed under mens singles when womens h...,"CREATE TABLE table_30306 (\n ""Year Location...","SELECT ""Mens Singles"" FROM table_30306 WHERE ""...",You are welcome. I am here to help.
43,What are the start and end dates for incidents...,CREATE TABLE Behavior_Incident (\n date_inc...,"SELECT date_incident_start, date_incident_end ...",You are welcome. I am here to help you.
44,For those employees whose salary is in the ran...,CREATE TABLE countries (\n COUNTRY_ID varch...,"SELECT HIRE_DATE, AVG(MANAGER_ID) FROM employe...",You are welcome. I am here to help.
45,who is listed as the last responsible mister -...,"CREATE TABLE table_204_988 (\n id number,\n...","SELECT ""responsible minister(s)"" FROM table_20...",You are welcome. I am here to help.
46,Users with highest reputation both in SO and M...,CREATE TABLE ReviewTaskResults (\n Id numbe...,"SELECT s.DisplayName, s.Reputation AS RepSO, m...",You are welcome. I am here to help.
47,What is the series # when the director is john...,CREATE TABLE table_29747178_2 (\n series__n...,SELECT series__number FROM table_29747178_2 WH...,You're welcome. I'm here to help.
48,provide the number of patients whose admission...,CREATE TABLE demographic (\n subject_id tex...,SELECT COUNT(DISTINCT demographic.subject_id) ...,You're welcome. I'm here to help.
49,What was the regular season standings for the ...,"CREATE TABLE table_19191 (\n ""Year"" real,\n...","SELECT ""Reg. Season"" FROM table_19191 WHERE ""P...",You are welcome. I am here to help.

In [55]:

from sklearn.metrics import f1_score, accuracy_score, precision_score, recall_score

true_labels = df["response"]
predicted_labels = df["output"]

# Calculate performance metrics
accuracy = accuracy_score(true_labels, predicted_labels)
precision = precision_score(true_labels, predicted_labels, average='macro')
recall = recall_score(true_labels, predicted_labels, average='macro')
f1 = f1_score(true_labels, predicted_labels, average='macro')

# Print the metrics
print("Performance Metrics:")
print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1 Score: {f1:.4f}")

Performance Metrics:
Accuracy: 0.0000
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000

/usr/local/lib/python3.12/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.12/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

**Next Steps**  
Congratulations! You've successfully built and tested a SQL generation application using Orq. To further enhance your project:

- Experiment with different datasets or deployment keys.
- Refine the prompt to improve SQL generation quality.
- Integrate the solution into a larger application for automated data access.

For more details and advanced features, visit the Orq documentation.